<div class="row">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="page-header">
      <h2 class="pageheader-title">{{ title }}</h2>
      <p class="pageheader-text">{{ text }}</p>
      <!-- <div class="page-breadcrumb">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#" class="breadcrumb-link">Dashboard</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          E-Commerce Dashboard Template
        </li>
      </ol>
    </nav>
  </div> -->
    </div>
  </div>
</div>
