<app-page-header title="Accounts"></app-page-header>
<div class="row">
    <div class="col-12">
      <div class="card">
        <!-- <h5 class="card-header">Balance</h5> -->
        <div class="card-body p-0">
          <div class="table-responsive">
            <table class="table">
              <thead class="bg-light">
                <tr class="border-0">
                  <th class="border-0 col-8">Name</th>
                  <th class="border-0 col-4">Amount</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>