<div class="nav-left-sidebar sidebar-dark">
  <div class="menu-list">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav flex-column">
          <li class="nav-divider">Menu</li>
          <li class="nav-item ">
            <a class="nav-link" routerLink="/dashboard">
              <i class="fa fa-fw fa-building"></i>Dashboard
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" routerLink="/accounts">
              <i class="fa fa-fw fa-building"></i>Accounts
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
